/* src/pages/Shagun.module.css */

.shagunContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.shagunCanvas {
  display: block;
  height: 100vh !important;
  width: 100vw !important;
}