html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes fadeInTopDown {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Start from slightly above */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-content {
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 1200px; 
  padding-left: 1rem;
  padding-right: 1rem;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  opacity: 0; /* Start invisible */
  animation-name: fadeInTopDown;
  animation-fill-mode: forwards; /* Keep the state at the end of the animation */
  /* Customize these as needed */
  animation-duration: 4s; /* How long the animation takes */
  animation-delay: 0s; /* Delay before the animation starts */
}

.header {
  position: sticky;
  top: 0;
  background-color: rgba(26, 26, 26, 0.1); /* Translucent background */
  backdrop-filter: blur(1px); /* Optional blur effect */
  z-index: 10; /* Higher than the content to ensure it's on top */
  padding: 25px 20px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  */
  width: 100%;
  overflow: hidden;
}

.header::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100px; /* Height of the gradient effect */
  background: linear-gradient(to bottom, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 0.3) 100%);
  pointer-events: none; /* Ensures clicks pass through to elements below */
  backdrop-filter: blur(10px); /* Stronger blur effect */
}

/* Blog */


.blog-list {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.blog-list h1,
.blog-list h2 {
  color: #f2f2f2; /* Use the color that matches your design */
}

.post-entry {
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid #707070; /* This creates the horizontal line */
  padding: 10px 0;
}

.post-year {
  color: #707070; /* Lighter text color for the year */
  margin-right: 20px;
  font-weight: bold;
}

.post-link {
  text-decoration: none; /* Removes the underline from links */
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-title {
  font-size: 1em;
  color: #707070;
}

.post-title {
  font-size: 1em;
  color: #707070;
}

.post-title:hover {
  color: #f2f2f2; /* Changes the color to #f2f2f2 on hover */
}

.post-date {
  color: #888; /* Lighter text color for the date */
  font-size: 0.8em;
  white-space: nowrap; /* Ensures the date does not wrap */
}

p {
  line-height: 1.7;
}


a {
  color: inherit; /* Use the same color as the parent text */
  text-decoration: underline; /* Enable underline */
  text-decoration-color: #747373; /* Set underline to faint grey */
  text-decoration-thickness: 1px; /* Adjust thickness of the underline (optional) */
}

a:hover {
  text-decoration-color: white; /* Underline color on hover */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates three columns with equal width */
  gap: 20px; /* Adjust the gap between columns */
}

.grid-item {
  /* Styling for the grid items */
  color: white; /* Example text color, adjust as needed */
  font-family: 'Your font', sans-serif; /* Replace with your chosen font */
}

.unfocused {
  color: #707070;
}

.unfocused-column-name {
  color: #707070;
  font-size:medium;
  margin-bottom: 30px;
}

.arrow {
  display: inline-block;
  margin-left: 0;
  transform: rotate(45deg); /* Rotates the arrow to point right */
  color: #707070;
}
.arrow2 {
  display: inline-block;
  margin-left: 0;
  margin-right: 5px;
  transform: rotate(270deg);
  color: #707070;
}



@media (max-width: 768px) {
  .main-content {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
  }
  .grid-container {
    grid-template-columns: 1fr; /* Stack the columns on top of each other on smaller screens */
  }
}
/* Taking inspiration of color pallette and minimalism from paco.me */
/* background 1a1a1a */
/* text color f2f2f2 */
/* unfocused text 707070 */